body {
  font-family: 'Fira Code', monospace;
  font-size: 15px;
  background-color: #1E1E1E;
  margin: 0%;
  color: white;
  padding-top: 70px;
}
.has{
    color: #C778DD;
}

/* main section styling */

.main-section{
  min-height: 85vh;
}

/* footer section*/
.footer{
  background-color: #282C33;
  border-top: 1.5px solid #C778DD;
  padding: 4vh;
}
.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5vh;
}
.footer-bottom{
  text-align: center;
  font-size: 12px;
}
.back-to-top,
.back-to-top:visited,
.back-to-top:hover,
.back-to-top:active {
  color: #C778DD !important;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}
.back-to-top:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px #C778DD);
}
.footer-right{
  padding-right: 5vw;
}

.footer-links{
  display: flex;
  margin-top: 3px;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
}
.media{
  text-align: center;
  margin-bottom: 2vh;

}
.footer-img{
  margin: 2px;

}

.footer-img:hover img {
  transform: scale(1.1);
  filter: drop-shadow(0 0 6px #C778DD);
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left {
    align-items: center;
  }

  .footer-right {
    margin-top: 10px;
  }

  .footer-links {
    justify-content: center;
  }

  .footer-left a {
    justify-content: center;
    flex-wrap: wrap;
  }
}