*{
  font-family: 'Fira Code', monospace;
}
body {
  font-size: 15px;
  background: linear-gradient(135deg, #000000, #3a3a3a);
  margin: 0%;
  color: white;
  padding-top: 70px;
}
.has{
    color: #C778DD;
}

/* main section styling */

.main-section{
  min-height: 85vh;
}

